/* Reveal.js controls layout; keep this minimal */
.slides > :not(section) {
  display: none !important;
}

.reveal .slides section[role="doc-bibliography"],
.reveal .slides section[role="doc-endnotes"],
section[role="doc-endnotes"]
{
  display: none !important;
}

.reveal .slide-title-bar {
  position: absolute;
  top: 0.75em;
  left: 1em;
  z-index: 20;
  font-size: 0.4em;
  font-variant: normal;
  opacity: 0.7;
  pointer-events: none;
}
